h1{
    color: #1d3557;
}

ul{
    /* para el tipo de biñeta */
    list-style-type: none;
    background-color: #457b9d;
    /* overflow oculta un desbordamiento */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li{
    /* ordena de manera horizontal */
    float: left;
}

li a{
    /* mostrar en bloque */
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none; 

}

li a:hover{
    background-color: #1d3557;
}